body {
  background-color: #444;
  width: 100vw;
}

canvas {
  background-color: #ddd;
}

#playerId {
  display: block;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin: 0;
}

#menuControls {
  margin-bottom: 2rem;
}
